{% extends "base.html" %}
{% load position %}

{% block contents %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/field/" method="get" class="well">
<h2>Filter Listing <small>Currently displaying {{ field_list|length }} fields</small></h2>

<table>
  {% if form.non_field_errors %}
  <tr><td colspan="3">{% for error in form.non_field_errors %}<br />{{ error }}{% endfor %}</td></tr>
  {% endif %}
  <tr>
    {% for field in form %}
    <td style="vertical-align: top; min-width:10em;">
      <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="id_{{field.name}}">{{field.label}}</label>
        <div class="controls">
          {{ field }}
          {% if field.errors %}
          {% for error in field.errors %}
          <br /><span class="help-inline" style="padding-left:0em;">{{ error }}</span>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td colspan="2">
      <input class="btn btn-primary" type="submit" value="Apply Filter" name="apply" />
      <input class="btn btn-danger" type="submit" value="Clear Filter" name="clear"/>
    </td>
    <td style="text-align:right">Input in decimal degrees.</td>
  </tr>
</table>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>RA</th>
      <th>Dec</th>
      <th>Survey</th>
      <th># Observations</th>
      <th>Calibrator?</th>
    </tr>
  </thead>

  {% for field in field_list %}

  <tr>
    <td><a href="/field/{{ field.pk }}/">{{ field.name }}</a></td>
    <td>{{ field.ra|format_angle:"time" }}</td>
    <td>{{ field.dec|format_angle:"angle" }}</td>
    <td>{{ field.survey.name }}</td>
    <td>{{ field.beam_set.all.count }}</td>
    <td>{% if field.calibrator %}<i class="icon-ok"></i>{% endif %}</td>
  </tr>

  {% endfor %}
</table>
{% endblock %}
