{% extends "base.html" %}

{% block extra_javascript %}
<script>
$(function() {
    $('.icon-cog').tooltip({title: "Calibrator"});
    });
$(function() {
    $('.icon-remove').tooltip({title: "Not Observed"});
    });
$(function() {
    $('.icon-hdd').tooltip({title: "Archived"});
    });
$(function() {
    $('.icon-star').tooltip({title: "On CEP"});
    });
$(function() {
    $('.icon-star-empty').tooltip({title: "Partial Data Available"});
    });
$(function() {
    $('.icon-question-sign').tooltip({title: "Unknown"});
    });
</script>
{% endblock %}
