{% extends "base.html" %}

{% block extra_javascript %}
<script>
$(function() {
    $('.icon-cog').tooltip({title: "Calibrator"});
    });
$(function() {
    $('.icon-remove').tooltip({title: "Not observed"});
    });
$(function() {
    $('.icon-folder-close').tooltip({title: "Archived"});
    });
$(function() {
    $('.icon-folder-open').tooltip({title: "Partially archived"});
    });
$(function() {
    $('.icon-star').tooltip({title: "On CEP"});
    });
$(function() {
    $('.icon-star-empty').tooltip({title: "Partially available on CEP"});
    });
$(function() {
    $('.icon-question-sign').tooltip({title: "Unknown"});
    });
$(function() {
    $('.icon-ban-circle').tooltip({title: "Invalid"});
    });
</script>
{% endblock %}
