{% extends "base_with_statusjs.html" %}
{% load position %}
{% load status %}

{% block contents %}

{% if field %}

<div class="row">
  <div class="span4">
    <div class="well" style="padding-bottom: 0em;">
      <h2 style="text-align: center;">{{field.name}}</h2>
      <h2 style="text-align: center; line-height: 20px;"><small>{{ field.description }}</small></h2>

      <table class="table" style="margin-top: 1em; margin-bottom: 1em;">
        <tr>
          <td style="border-top: none">Right Ascension</td>
          <td style="border-top: none">{{ field.ra|format_angle:"time" }}</td>
        </tr>
        <tr>
          <td>Declination</td>
          <td>{{field.dec|format_angle:"dms" }}</td>
        </tr>
        <tr>
          <td>Survey</td>
          <td>{{ field.survey.name }}</td>
        </tr>
        <tr>
          <td># Observations</td>
          <td>{{ field.beam_set.count }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            {% for status in field.status %}
              <i rel="tooltip" class="{{ status|status_icon }}"></i>
            {% endfor %}
          </td>
        </tr>
      </table>

      {% include "paginate.html" with page_obj=beam_set paginator=beam_set.paginator %}

    </div>
  </div>

  <div class="span8">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Observation</th>
          <th>Beam</th>
          <th>Date</th>
          <th>Duration</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for beam in beam_set %}
      <tr>
        <td><a href="{{ beam.observation.get_absolute_url }}">{{ beam.observation.obsid }}</a></td>
        <td>{{ beam.beam }}</td>
        <td>{{ beam.observation.start_time|date:"Y-m-d H:i:s" }}</td>
        <td>{{ beam.observation.duration }} s</td>
        <td>
        {% for status in beam.observation.status %}
          <i rel="tooltip" class="{{ status|status_icon }}"></i>
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endif %}
{% endblock %}
