{% extends "base.html" %}
{% load position %}

{% block contents %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
<div class="span4">
<form action="/field/" method="get" class="form-horizontal well">
<h2>Showing {{ field_list.paginator.count }} fields</h3>

<p>Refine the selection here. Angles should be entered in decimal degrees.</p>

<div style="color: rgb(185, 74, 72);">
{{ form.non_field_errors }}
</div>

<fieldset style="margin: auto;">
  {% for field in form %}
  <div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" style="width: 100px; text-align: left" for="id_{{field.name}}">{{field.label}}</label>
    <div class="controls" style="margin-left: 0px">
      {{ field }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="help-inline" style="padding-left: 100px">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</fieldset>

<p style="text-align: center;">
<input class="btn btn-primary" type="submit" value="Apply Filter" name="apply" />
<input class="btn btn-danger" type="submit" value="Clear Filter" name="clear"/>
</p>

<p style="margin-top: 1em; text-align:center;">
  {% if field_list.has_previous %}
  <a href="?{{ queries.urlencode }}page={{ field_list.previous_page_number }}"><i class="icon-backward"></i></a>
  {% endif %}
  Page {{ field_list.number }} of {{ field_list.paginator.num_pages }}
  {% if field_list.has_next %}
  <a href="?{{ queries.urlencode }}&amp;page={{ field_list.next_page_number }}"><i class="icon-forward"></i></a>
  {% endif %}
</p>
</form>

</div>

<div class="span8">
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>RA</th>
      <th>Dec</th>
      <th>Distance</th>
      <th>Survey</th>
      <th># Observations</th>
      <th>Calibrator?</th>
    </tr>
  </thead>

  {% for field in field_list %}

  <tr>
    <td><a href="{{ field.get_absolute_url }}">{{ field.name }}</a></td>
    <td>{{ field.ra|format_angle:"time" }}</td>
    <td>{{ field.dec|format_angle:"dms" }}</td>
    <td style="text-align: right; style="text-align: right;"">{% if field.distance %}{{ field.distance|to_degrees|floatformat }}&deg;{% endif %}</td>
    <td>{{ field.survey.name }}</td>
    <td style="text-align: right;">{{ field.num_beams }}</td>
    <td>{% if field.calibrator %}<i class="icon-ok"></i>{% endif %}</td>
  </tr>

  {% endfor %}
</table>
</div>
</div>
{% endblock %}
