{% extends "base.html" %}
{% load staticfiles %}

{% block contents %}

<div class="hero-unit" style="background-image: url({{ image_url }}); background-size:100% Auto; color: white; width: 820px; height: 330px;">

  <div style="background-color: rgba(255, 255, 255, 0.8); width: 230px; height: 260px; padding: 30px; color: black; float: right;">
    <a href="http://www.lofar.org/"><img src="{% static "img/lofar_logo.png" %}" style="width: 230px;"></a>
    <a href="http://www.astron.nl/"><img src="{% static "img/astron_logo.png" %}" style="width: 230px; margin-top: 30px;"></a>
    <a href="http://www.astro.uva.nl/"><img src="{% static "img/api_logo.png" %}"  style="width: 230px; margin-top: 30px;"></a>
  </div>

  <div style="background-color: rgba(255, 255, 255, 0.8); max-width: 400px; height: 260px; padding: 30px; color: black;">

    <h1 style="text-align: center; font-size: 72px; margin-bottom: 18px;">MSSS</h1>

    <p>This site marshalls information about interferometric data which has been
    recorded by <a href="http://www.lofar.org/">LOFAR</a>.  Primarily, it aims to
    support the ongoing <a href="http://www.astron.nl/radio-observatory/lofar-msss/lofar-msss">MSSS</a>
    ("Multifrequency Snapshot Sky Survey") commissioning effort.</p>

  </div>
</div>
{% if image_caption %}
<div style="text-align: right; margin-top: -30px; margin-bottom: 12px; font-size: 10px;">Image: {{ image_caption }}</div>
{% endif %}

<div class="row">
  <div class="span4">
    <h2>Surveys</h2>
     <p>Data on the following survey{{ survey_list.count|pluralize }}
     is available:</p>
     <ul>
       {% for survey in survey_list %}
       <li><a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a></li>
       {% endfor %}
     </ul>
  </div>
  <div class="span4">
    <h2>Fields</h2>
     <p>{{ n_fields }} field{{ n_fields|pluralize }} are being tracked.
    <p><a class="btn" href="/field/">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Observations</h2>
    <p>{{ n_observations }} separate
    observation{{n_observations|pluralize }} are known.
    <p><a class="btn" href="/observation/">View details &raquo;</a></p>
  </div>
</div>

<div class="row" style="text-align: center">
  <p style="margin-top: 2em;">Or, jump straight to your data:<p/>
  <form class="form-search" method="post" action="/">
    {% csrf_token %}
    <input id="id_target" type="text" name="target" maxlength="100" class="input-medium search-query" />
    <select style="width: 120px" name="survey" id="id_survey">
      <option value="" selected="selected">Any Survey</option>
      {% for survey in survey_list %}
        <option value="{{ survey.name }}">{{survey.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" name="field">Field</button>
    <button type="submit" class="btn btn-success" name="obs">Observation</button>
  </form>
</div>

{% endblock %} <!-- contents -->
