{% extends "base.html" %}
{% load position %}

{% block contents %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
  <div class="span4">
    <div class="well">
    <h2 style="text-align: center;">{{ paginator.count }} observations</h2>

    <p style="margin-top: 1em; text-align: center;">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"><i class="icon-backward"></i></a>
      {% endif %}
      Page {{ page_obj.number }} of {{ paginator.num_pages }}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><i class="icon-forward"></i></a>
      {% endif %}
    </p>
  </div>
  </div>

  <div class="span8">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Targets</th>
        <th>Archived</th>
      </tr>
    </thead>

    {% for obs in obs_list %}

    <tr>
      <td><a href="{{ obs.get_absolute_url }}">{{ obs.obsid }}</a></td>
      <td>{{ obs.start_time|date:"Y-n-d" }}</td>
      <td>{{ obs.duration }} s</td>
      <td>
      {% for beam in obs.beam_set.all %}
        <a href="{{ beam.field.get_absolute_url }}">{{ beam.field.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
      </td>
      <td>{% if obs.archived == "true" %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
    </tr>

    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
