{% extends "base.html" %}
{% block contents %}

{% if observation %}

<div class="row">
  <div class="span4">
    <div class="well">
      <h2 style="text-align: center;">{{ observation.obsid }}</h2>
      {% if observation.archived == "true" %}
      <p>This observation has been archived.</p>
      {% endif %}
    </div>
  </div>

  <div class="span8">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Summary</a></li>
        <li><a href="#tab2" data-toggle="tab">Parset</a></li>
        <li><a href="#tab3" data-toggle="tab">Data</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <table style="text-align: left; vertical-align: top" class="table table-bordered">
            <tr>
              <th>Date</th>
              <td colspan="2">{{ observation.start_time|date:"Y-m-d" }}</td>
            </tr>
            <tr>
              <th>Start Time</th>
              <td colspan="2">{{ observation.start_time|date:"H:i:s" }}</td>
            </tr>
              <th>Duration</th>
              <td colspan="2">{{ observation.duration }} s</td>
            </tr>
            <tr>
              <th>Antenna&nbsp;Set</th>
              <td colspan="2">{{ observation.antennaset }}</td>
            </tr>
            <tr>
              <th>Clock</th>
              <td colspan="2">{{ observation.clock }} MHz</td>
            </tr>
            <tr>
              <th>Filter</th>
              <td colspan="2">{{ observation.get_filter_display }}</td>
            </tr>
            <tr>
              <th>Stations</th>
              <td colspan="2">
                {% for station in observation.stations.all %}
                  {{ station.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
            {% for beam in observation.beam_set.all %}
            <tr>
              <th rowspan="2">Beam {{ beam.beam }}</th>
              <th>Target</th>
              <td style="width: 100%"><a href="{{ beam.field.get_absolute_url }}">{{ beam.field.name }}</a></td>
            </tr>
            <tr>
              <th>Subbands</th>
              <td>{{ beam.subbands.count }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="tab-pane" id="tab2">
          <pre>{{observation.parset}}</pre>
        </div>

        <div class="tab-pane" id="tab3">
            {% for beam in observation.beam_set.all %}
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <td colspan="5"><h4>Beam {{ beam.beam }} (<a href="{{ beam.field.get_absolute_url }}">{{ beam.field.name }}</a>)</h4></td>
              </tr>
              <tr>
                <th>Subband</th><th>Size</th><th>Host</th><th>Path</th><th>Archive</th>
              </tr>
            </thead>

              {% for subband in beam.subbanddata_set.all %}
              <tr>
                <td>{{ subband.number }}</td>
                {% if subband.size %}
                  <td>{{ subband.size|filesizeformat }}</td>
                {% else %}
                  <td><span class="label label-warning">Unknown</span></td>
                {% endif %}

                {% if subband.hostname and subband.path %}
                  <td style="font-family: Menlo, Monaco, Consolas, monospace;">{{ subband.hostname }}</td>
                  <td style="font-family: Menlo, Monaco, Consolas, monospace;">{{ subband.path }}</td>
                {% else %}
                  <td colspan="2"><span class="label label-warning">No data on CEP</span></td>
                {% endif %}

                {% if subband.archive %}
                  <td><span class="label label-info">{{ subband.archive }}</td>
                {% else %}
                  <td><span class="label label-warning">Not archived</span></td>
                {% endif %}
              </tr>
              {% endfor %}
          </table>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}
