<div class="pagination" style="text-align: center;">
  <ul>
    {% if page_obj.has_previous %}
      {% if page_obj.previous_page_number > 1 %}
        <li><a href="?{{ queries.urlencode }}page=1">1</a></li>
        {% if page_obj.previous_page_number > 2 %}
          <li class="disabled"><a href="#">...</a></li>
        {% endif %}
      {% endif %}
      <li><a href="?{{ queries.urlencode }}page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
      <li class="active"><a href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
      <li><a href="?{{ queries.urlencode }}&amp;page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
      {% if page_obj.next_page_number < paginator.num_pages %}
        {% if page_obj.next_page_number|add:"1" < paginator.num_pages %}
          <li class="disabled"><a href="#">...</a><li>
        {% endif %}
        <li><a href="?{{ queries.urlencode }}&amp;page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
      {% endif %}
    {% endif %}
  </ul>
</div>
